.tete{
    width: 100%;
    height: 80px;
    display: flex;
   /*  margin: auto; */
    justify-content: center;
    background-color: #ff9a00;
}
.milieu{
    background-color:#f5f5f5;
    width: 100%;
    height: 400px;
    display: flex;
}
.fin{
    background-color:white;
    width: 900px;
    height: 150px;
    margin-top: 10px;
    /* margin-right: 25px; */
    margin: auto;
    display: flex;
    justify-content: center;
}
.gauche{
    width: 300px;
    height: 380px;
    background-color:darkred;
    margin: auto;
}
.centre{
    width: 600px;
    height: 380px;
    background-color: white;
    margin: auto;
}
.droite{
    width: 300px;
    height: 380px;
    background-color:#f5f5f5;
    margin: auto;
}
.Imilieu a{
    color:#ff9a00;
    text-decoration: none;
}
.recherche a{
    color: #ff9a00;
    text-decoration: none;
}
.haut a{
    color: #ff9a00;
    text-decoration: none;
}
.fa-ul a{
    text-decoration: none;
}
 .util{
    display: flex;
    justify-content:space-evenly;
    height: 25px;
    align-items: center;
    width: 500px;
    margin: auto;
}
.hum{
    display: flex;
    justify-content:space-around;
    height: 25px;
    align-items: center;
    width: 300px;
    margin-right: 50px; 
}
.util0{
    margin-left: 10px;
} 
.recherche{
    background-color:white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px; 
}
.oumou{
    display: flex;
    justify-content: center;
    /* margin-right: 70px; */
    align-items: center;
    margin: auto;
}
body{
     background-color:#f5f5f5; 
    /* background-color: darkred; */
}
.Imilieu{
    height: 25px;
    /* justify-content: center; */
    /* align-items: center; */
    display: flex; 
}
.diop{
    width: 300px;
    margin-left: 5px;
    height: 30px;
    /* margin-right: 50px; */
    margin: auto;
}
button{
    background-color: #ff9a00;
}
.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer; }
.w3-badge {height:13px;width:13px;padding:0}
.haut{
    width: 300px;
    height: 200px;
    background-color:darkred;
    margin-bottom: 5px;
    border-radius: 7px;
}
.bas{
    width: 300px;
    height: 160px;
    background-color:white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
p{
    font-size: 15px;
}
#myContainer {
    width: 100%;
    height: 100%;
    position: relative;
    background:white;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
  }
#myAnimation {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    background-color:white;
    display: flex;
  }
.img{
	width: 130px;
    height: 100%;
    margin: 5px;
    background-color:white;
}
.bob{ 
    justify-content: center;
    width: 900px;
    align-items: center;
}
